# Episode Title

Embedded episode player

* Episode Number
* Air Date
* Duration

## About this episode

blurb

## Sponsored by

* selfhosted.show/sre
* sponsor1
* sponsor2

## Episode links

{% for link in desc_links %}
* {{ link }}
{%- endfor %}

## Your hosts
{% for host in hosts %}
* [{{ host.title }}](https://selfhosted.show/{{ host.link }})
{%- endfor %}

## Tags

{% for tag in tags %}
* [{{ tag.text }}]({{ tag.link }}) 
{%- endfor %}