# {{ show_config.acronym }} {{ episode_number_padded }}: {{ title_plain }}

{{ player_embed }}

* Air Date: {{ date_published }}
* Duration: {{ duration }}

## About this episode

{{ blurb }}

## Your hosts

{%- for host in hosts %}
* [{{ host.name }}]({{ host.link }})
{%- endfor %}

## Sponsored by

{{ sponsors }}

## Episode links

{{ links }}

## Tags

{% for tag in tags %}[{{ tag.text }}]({{ tag.link }}){% if not loop.last %}, {% endif %}{% endfor %}
